[submodule "bundle/scss-syntax.vim"]
	path = bundle/scss-syntax.vim
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "bundle/delimitmate"]
	path = bundle/delimitmate
	url = https://github.com/vim-scripts/delimitMate.vim.git
[submodule "bundle/rainbow_parentheses"]
	path = bundle/rainbow_parentheses
	url = https://github.com/vim-scripts/rainbow_parentheses.vim
[submodule "bundle/vim-bundle-mako"]
	path = bundle/vim-bundle-mako
	url = https://github.com/sophacles/vim-bundle-mako
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/candycode.vim"]
	path = bundle/candycode.vim
	url = https://github.com/vim-scripts/candycode.vim.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/vim-scripts/molokai.git
