[submodule "bundle/scss-syntax.vim"]
	path = bundle/scss-syntax.vim
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "bundle/delimitmate"]
	path = bundle/delimitmate
	url = https://github.com/vim-scripts/delimitMate.vim.git
[submodule "bundle/rainbow_parentheses"]
	path = bundle/rainbow_parentheses
	url = https://github.com/vim-scripts/rainbow_parentheses.vim
[submodule "bundle/vim-bundle-mako"]
	path = bundle/vim-bundle-mako
	url = https://github.com/sophacles/vim-bundle-mako
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/candycode.vim"]
	path = bundle/candycode.vim
	url = https://github.com/vim-scripts/candycode.vim.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/vim-scripts/molokai.git
[submodule "bundle/bnf"]
	path = bundle/bnf
	url = https://github.com/vim-scripts/bnf.vim.git
[submodule "bundle/ebnf"]
	path = bundle/ebnf
	url = https://github.com/vim-scripts/ebnf.vim.git
[submodule "bundle/happy"]
	path = bundle/happy
	url = https://github.com/vim-scripts/happy.vim.git
[submodule "bundle/haml"]
	path = bundle/haml
	url = https://github.com/tpope/vim-haml.git
[submodule "bundle/syntax"]
	path = bundle/syntax
	url = https://github.com/davidbalbert/vim-io.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/shim"]
	path = bundle/shim
	url = https://github.com/vim-scripts/Superior-Haskell-Interaction-Mode-SHIM.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = https://github.com/vim-scripts/vimwiki.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/rename"]
	path = bundle/rename
	url = https://github.com/vim-scripts/Rename.git
[submodule "bundle/conque"]
	path = bundle/conque
	url = https://github.com/rson/vim-conque.git
[submodule "bundle/fish"]
	path = bundle/fish
	url = https://github.com/vim-scripts/fish.vim.git
