[submodule "bundle/scss-syntax.vim"]
	path = bundle/scss-syntax.vim
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "bundle/delimitmate"]
	path = bundle/delimitmate
	url = https://github.com/vim-scripts/delimitMate.vim.git
